@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

@layer base {
  html {
    @apply font-serif selection:bg-primary selection:text-white;
  }

  button,
  a,
  p,
  span,
  svg,
  div {
    @apply transition-colors duration-300;
  }
}

.narrateText {
  @apply text-lg text-gray-500 font-nanum;
}

.sideNavText {
  @apply text-lg font-medium hover:text-primary transition-colors duration-300 [writing-mode:vertical-lr] bg-[#f2f2f2] rounded py-1;
}
